.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-family: 'Open Sans', sans-serif;
  /* Modal Styling */ }
  body a {
    cursor: pointer; }
  body nav {
    border-bottom: 1px solid #dedede; }
    body nav .col-md-4 {
      display: inline-block;
      padding: 3em 0 3em 0;
      vertical-align: middle; }
      body nav .col-md-4 h1:hover, body nav .col-md-4 h3:hover {
        cursor: pointer; }
      body nav .col-md-4 h1 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1em; }
      body nav .col-md-4 h3 {
        font-weight: 400;
        line-height: 0; }
      body nav .col-md-4 ul {
        padding-left: 8%; }
      body nav .col-md-4 li {
        display: inline-block;
        list-style-type: none;
        padding: 0 16% 0 0;
        margin-top: 10%; }
        @media (max-width: 768px) {
          body nav .col-md-4 li {
            padding: 0 6% 0 6%; } }
      body nav .col-md-4 img {
        width: 72%;
        height: auto;
        padding: 3em 0em 0em 10em;
        vertical-align: middle; }
        @media (max-width: 768px) {
          body nav .col-md-4 img {
            width: 40%; } }
      body nav .col-md-4:first-of-type {
        padding-left: 3em; }
      body nav .col-md-4:last-of-type {
        padding: 0 0 3em 0; }
        @media (max-width: 768px) {
          body nav .col-md-4:last-of-type {
            padding: 0 0 1em 0; } }
      @media (max-width: 768px) {
        body nav .col-md-4 {
          text-align: center;
          width: 100%;
          padding: 0;
          margin: 4% 0; }
          body nav .col-md-4 ul {
            padding-left: 0; }
            body nav .col-md-4 ul li {
              margin-top: 3%; }
          body nav .col-md-4 img {
            padding: 6% 0 9% 0; }
          body nav .col-md-4:first-of-type {
            padding: 0; } }
  body .hidden {
    display: none;
    transition: .5s; }
  body #main-loop {
    transition: .5s; }
  body #contact-page {
    text-align: center; }
    body #contact-page input {
      padding: 1em 2em;
      width: 100%;
      display: block; }
    body #contact-page p {
      margin: 2em 0; }
  body .sliding-underline {
    display: inline-block; }
    body .sliding-underline a {
      color: #333; }
      body .sliding-underline a:hover {
        color: #333;
        text-decoration: none; }
    body .sliding-underline em {
      color: #333;
      text-decoration: none;
      font-size: 1.10em; }
    body .sliding-underline:after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease; }
    body .sliding-underline:hover {
      color: #333;
      text-decoration: none; }
      body .sliding-underline:hover:after {
        width: 100%;
        background: #333; }
  body #loop-and-sidebar {
    padding: 6% 0;
    border-bottom: 1px solid #dedede; }
    body #loop-and-sidebar #main-loop {
      transition: .5s; }
    body #loop-and-sidebar .col-md-4 {
      display: inline-block;
      padding-right: 3.75em; }
      body #loop-and-sidebar .col-md-4:first-of-type {
        padding-left: 3em;
        vertical-align: top; }
        @media (max-width: 768px) {
          body #loop-and-sidebar .col-md-4:first-of-type:after {
            content: ". . .";
            font-size: 3em; } }
      body #loop-and-sidebar .col-md-4 button.article-read-more {
        border: none;
        background-color: transparent;
        box-shadow: 0; }
        body #loop-and-sidebar .col-md-4 button.article-read-more .article {
          padding: 5%;
          transition: .5s;
          text-align: left; }
          body #loop-and-sidebar .col-md-4 button.article-read-more .article em {
            color: #6189c7; }
          body #loop-and-sidebar .col-md-4 button.article-read-more .article .sliding-underline:hover {
            color: #6189c7;
            text-decoration: none; }
            body #loop-and-sidebar .col-md-4 button.article-read-more .article .sliding-underline:hover:after {
              width: 100%;
              background: #6189c7; }
          body #loop-and-sidebar .col-md-4 button.article-read-more .article:nth-child(odd) {
            padding-bottom: 10%; }
          body #loop-and-sidebar .col-md-4 button.article-read-more .article:hover {
            cursor: pointer;
            background-color: #dedede;
            transition: .5s; }
          @media (max-width: 768px) {
            body #loop-and-sidebar .col-md-4 button.article-read-more .article {
              text-align: center; } }
      @media (max-width: 768px) {
        body #loop-and-sidebar .col-md-4 {
          text-align: center;
          width: 100%;
          padding: 0; }
          body #loop-and-sidebar .col-md-4 ul {
            padding-left: 0; }
            body #loop-and-sidebar .col-md-4 ul li {
              margin-top: 3%; }
          body #loop-and-sidebar .col-md-4 img {
            padding: 6% 0 9% 0; }
          body #loop-and-sidebar .col-md-4 p {
            padding: 0 5%;
            text-align: center;
            width: 85%;
            margin: 0 auto;
            padding-top: 5%; }
          body #loop-and-sidebar .col-md-4:first-of-type {
            padding: 0% 0 15% 0;
            width: 100%; }
            body #loop-and-sidebar .col-md-4:first-of-type p {
              margin: 0 auto;
              padding-top: 5%; } }
    body #loop-and-sidebar #social-media-icons {
      padding-left: 0;
      margin: 2% 0 10% 0; }
      body #loop-and-sidebar #social-media-icons li {
        list-style-type: none;
        display: inline-block;
        width: 23.5%; }
        body #loop-and-sidebar #social-media-icons li i {
          font-size: 2.5em;
          transition: .5s; }
          body #loop-and-sidebar #social-media-icons li i:hover {
            cursor: pointer;
            transform: translateY(-5px);
            transition: .5s; }
  body footer {
    text-align: center;
    padding: 3% 0; }
  body .modal-content {
    border-radius: 4px;
    box-shadow: none;
    padding: 1em 4em; }
    body .modal-content hr {
      border: 0;
      width: 50%;
      margin: 0em 0 1em 1em;
      border-top: 1px solid #eee; }
    body .modal-content .close {
      float: right;
      font-size: 35px;
      vertical-align: middle;
      font-weight: 700;
      line-height: 1;
      color: #000;
      opacity: 1; }
    body .modal-content .modal-header {
      border: 0; }
    body .modal-content .modal-footer {
      text-align: left;
      border: 0; }
      body .modal-content .modal-footer li {
        list-style-type: none;
        display: inline;
        font-size: 2.5em;
        padding-right: .75em; }
      body .modal-content .modal-footer ul {
        padding-left: 0; }
      body .modal-content .modal-footer #social-media-icons li {
        padding-right: .5em;
        line-height: 2em; }
        body .modal-content .modal-footer #social-media-icons li i {
          font-size: 1em;
          transition: .5s; }
          body .modal-content .modal-footer #social-media-icons li i:hover {
            cursor: pointer;
            transform: translateY(-5px);
            transition: .5s; }

/*# sourceMappingURL=main.css.map */
